<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Truong Ka</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h2>Hello truongka with view engine</h2>
    <!-- <img src="images/687ff58b82cf34da0cd1369598f22104.jpg"/> -->
    <h3> Hello : <%=message %></h3>
  </body>
</html>
